<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.local.simple-bar-theme-helper</string>
  <key>ProgramArguments</key>
  <array>
    <string>__NODE_PATH__</string>
    <string>__HELPER_PATH__</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>SIMPLE_BAR_DIR</key>
    <string>__SIMPLE_BAR_DIR__</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/tmp/simple-bar-theme-helper.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/simple-bar-theme-helper.err</string>
</dict>
</plist>
